.Input {
  min-width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--secondary-color);
  background-color: var(--bg-color);
  border-radius: 5px;
  margin: 0 0 30px;
  padding: 5px 10px;
}

.inputContainer {
  width: 100%;
}

.readonly {
  opacity: 0.6;
}
.outline {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.outlineInverted {
  outline: none;
  border: 1px solid var(--primary-color);
}

.placeholder {
  text-transform: capitalize;
  border: none;
}
.placeholder.outline {
  color: var(--secondary-color);
}
