.Input {
  min-width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--secondary-color);
  background-color: var(--bg-color);
  border-radius: 5px;
  outline-color: var(--secondary-color);
  margin: 0 0 40px;
  padding: 5px 10px;
}

.inputContainer {
  width: 100%;
}

.placeholder {
  text-transform: capitalize;
}
