.app.normal {
  --bg-color: #a4bdcc;
  --invert-bg-color: #133;
  --primary-color: #0f6;
  --secondary-color: #f00;
}

.app.dark {
  --bg-color: #133;
  --invert-bg-color: #a4bdcc;
  --primary-color: #133;
  --secondary-color: #fbff00;
}
